<header>
  <div class="container">

    <!-- Boutons externes -->
    <div class="header-buttons">
      <a href="https://www.captainvet.com/veterinaire/marolles-en-brie/vet-dispensaire" class="btn" target="_blank">Prise de RDV</a>
      <a href="https://lien-boutique.com" class="btn" target="_blank">Boutique en ligne</a>
    </div>

    <!-- Menu principal -->
    <nav>
      <ul class="menu">
        <!-- Dropdown 1 -->
         <li class="dropdown">
          <a href="../html/accueil.html">Accueil ▾</a>
          <ul class="submenu">
            <li><a href="../html/accueil.html#contact-info">Coordonnées</a></li>
            <li><a href="../html/accueil.html#access">Comment venir</a></li>
            <li><a href="../html/accueil.html#emergency">Urgences</a></li>
            <li><a href="../html/accueil.html#socials">Réseaux sociaux</a></li>
          </ul>
        </li>

        <!-- Dropdown 2 -->
        <li class="dropdown">
          <a href="../html/equipe.html">L’équipe et les services ▾</a>
          <ul class="submenu">
            <li><a href="../html/equipe.html#L'équipe">L’équipe</a></li>
            <li><a href="../html/equipe.html#Les services">Les services</a></li>
            <li><a href="../html/equipe.html#Questions fréquentes">Questions fréquentes</a></li>
            <li><a href="../html/equipe.html#Témoignages">Témoignages</a></li>
          </ul>
        </li>

        <!-- Dropdown 3 -->
        <li class="dropdown">
          <a href="../html/tarifs.html">Les tarifs et aides possibles ▾</a>
          <ul class="submenu">
            <li><a href="../html/tarifs.html#Tarifs de base">Tarifs de base</a></li>
            <li><a href="../html/tarifs.html#Vétobudget">Vétobudget</a></li>
            <li><a href="../html/tarifs.html#Vétérinaire pour tous">Vétérinaire Pour Tous</a></li>
          </ul>
        </li>

        <!-- Dropdown 4 -->
        <li class="dropdown">
          <a href="../html/conseils.html">Les fiches conseils ▾</a>
          <ul class="submenu">
            <li><a href="../html/conseils.html#Chiens">Chiens</a></li>
            <li><a href="../html/conseils.html#Chats">Chats</a></li>
            <li><a href="../html/conseils.html#NAC">NAC</a></li>
            <li><a href="../html/conseils.html#Autres">Autres</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <!-- Burger menu (mobile) -->
    <div class="burger">&#9776;</div>
  </div>
</header>